<div class="card bg-primary" style="width: 18rem;">
  <div class="card-body text-center">
    <p class="card-text">{{name}}</p>
    <button data-id="{{id}}" data-devoured="{{devoured}}" class="devourMe btn btn-success">devour it!</button>
  </div>
</div>