<div class="card bg-dark" style="width: 18rem;">
  <div class="card-body text-center">
    <p class="card-text">{{name}}</p>
    <button data-id="{{id}}" data-devoured="{{devoured}}" class="btn btn-danger delete-patty">remove</button>
  </div>
</div>